.appPane{
	border: solid 1px grey;
	padding: 5px;
	overflow: auto;
	height: 700px;
}

.appPane .sel{
	background-color: azure;
}

.appRow, .logRow{
	cursor: pointer;
}

.logPane{
	border: solid 1px grey;
	height: 700px;
	padding: 5px 10px;
}

.logListView{
	height:400px;
	overflow: auto;
}
	.logListView .sel {
		background-color: azure;
	}

	.logListView td{
		padding: 4px;
	}

	.logListView th{
		text-align: left;
	}

	.logListView th.title{
		width: 50%;
	}

#logMsgPane{
	border-top: solid 1px grey;
	padding: 5px;
	margin: 10px 0;
	text-wrap: normal;
	word-wrap: break-word;
	overflow: auto;
}

.queryOption{
	margin: 10px 5px;
	padding-bottom: 10px;
	border-bottom:  solid 1px grey;
}

#loadingImg{
	vertical-align: middle;
	margin-right: 20px;
	float: right;
	display: none;
}